.mobile-menu 
  ul.mobile-menu__list
      li.mobile-menu__item 
          a.mobile-menu__link(href="index.html") Home
      li.mobile-menu__item 
          a.mobile-menu__link(href="#about") About us
      li.mobile-menu__item 
          a.mobile-menu__link(href="#services") Services
      li.mobile-menu__item 
          a.mobile-menu__link(href="#gallery") Our Projects
      li.mobile-menu__item 
          a.mobile-menu__link(href="#team") Our Team
      li.mobile-menu__item 
          a.mobile-menu__link(href="#!") Happy Clients
      li.mobile-menu__item 
          a.mobile-menu__link(href="#!") Price
      li.mobile-menu__item 
          a.mobile-menu__link(href="#facts") Some Facts
      li.mobile-menu__item 
          a.mobile-menu__link(href="#contact") Contact Us