@use 'helpers' as *;
@use 'variables' as *;

html {}

body {
  font-family: $font-family-base;
  line-height: 1;
}

h1.h1 {
  font-family: $font-family-secondary;
  text-align: center;
  @include fluid-text(100, 32);
  text-transform: uppercase;
  color: $color-light;

  span {
    color: $color-accent-primary;
  }
}

h2.h2 {
  font-family: $font-family-secondary;
  @include fluid-text(44, 24);
  text-align: center;
  text-transform: uppercase;
  color: $color-light-first;
}

h3.h3 {
  font-family: $font-family-secondary;
  font-size: rem(24);
  text-align: center;
  text-transform: uppercase;
  color: $color-light;
}

.button {
  padding: 10px 70px;
  font-family: $font-family-secondary;
  font-size: rem(18);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-light;
  text-align: center;
  transition: $transition-base;
  position: relative;

  &--primary {
    background: $gradient-button-primary;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      transition: $transition-base;
    }

    @include hover {
      &::before {
        box-shadow: 3px 3px 3px 0 $color-accent-primary;
      }
    }

    &:active {
      &::before {
        box-shadow: none;
      }
    }
  }

  &--secondary {
    background: $gradient-button-secondary;

    @include hover {
      transform: translateY(-3px);
      box-shadow: 3px 3px 3px 0 $color-bg-second;
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}

.hidden-svg {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

.section-subtitle {
  font-size: rem(16);
  text-align: center;
  text-transform: uppercase;
  color: $color-accent-primary;
}

.overlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/overlay-slide.webp");
    opacity: 0.075;
    z-index: 10;
    pointer-events: none;
  }
}

.section-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.line-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  gap: 20px;
  white-space: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 8px;

  &::after,
  &::before {
    content: "";
    flex: 1 0 140px;
    min-width: 40px;
    height: 2px;
    background: $color-accent-primary;

    @include md {
      flex-shrink: 1;
    }
  }
}


body.mouse-navigation *:focus {
  outline: none;
}

body:not(.mouse-navigation) *:focus-visible {
  outline-offset: 5px;
  outline: 4px dashed #000;
}

section {
  .container {
    position: relative;
    z-index: 100;
  }
}

a,
button,
label,
input,
textarea,
select,
svg,
svg * {
  transition: $transition-base;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}